<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/19300c9d74.js" crossorigin="anonymous"></script>
  <title>Bookkeeping</title>
</head>

<body>
  <nav>
    <div class="title-wrapper">
      <a href="/" class="title">
      {{#if isAuthenticated}} {{user.name}}的{{/if}}家庭記帳本
      </a>
    </div>
    {{#if isAuthenticated}}
    <a href="/users/logout" class="logout-button">登出</a>
    {{else}}
    <a href="/users/login" class="logout-button">登入</a>
    {{/if}}


  </nav>
  {{{ body }}}
</body>

</html>