<form action="">
  <div class="container">
    <div class="necessary">
      <div class="title-necessary">*必填欄位</div>
      <div class="content-necessary">請修改你的支出</div>
    </div>
    <div class="input-items">
      <label for="name">名稱* :</label>
      <input type="text" name="name" id="name" class="input-item">
    </div>
    <div class="input-items">
      <label for="date">日期* :</label>
      <input type="date" name="date" id="date" value="2023-04-03" class="input-item">
    </div>
    <div class="input-items">
      <label for="category">類別* :</label>
      <select name="category" id="category" class="input-item">
        <option value="0">Select</option>
      </select>
    </div>
    <div class="input-items">
      <label for="amount">金額* :</label>
      <input name="amount" id="amount" class="input-item"></select>
    </div>
    <div class="new-button-box">
      <button type="submit" class="new-button">送出</button>
    </div>
  </div>
</form>