<div class="container">
  <form action="">
    <select class="select-box">
      <option value="0">類別</option>
    </select>
  </form>
  <div class="total">
    總金額:
    <div class="totalAmount">25260</div>
  </div>
  {{#each record}}
  <div class="list-wrapper">
    <div class="grid-item">
      <i class="fa-solid fa-utensils icon"></i>
      <div class="activity">
        <div>{{this.name}}</div>
        <div>{{this.date}}</div>
      </div>
      <div class="price">{{this.amount}}</div>
    </div>
    <div class="function-wrapper">
      <div class="edit">修改</div>
      <div class="delete">刪除</div>
    </div>
  </div>
  {{/each}}
  <div class="new-item">
    <a href="/cruds/new" class="new">新增支出</a>
  </div>
</div>