<form action="/cruds" method="POST">
  <div class="container">
    <div class="necessary">
      <div class="title-necessary">*必填欄位</div>
      <div class="content-necessary">請輸入你的支出</div>
    </div>
    <div class="input-items">
      <label for="name">名稱* :</label>
      <input type="text" name="name" id="name" class="input-item">
    </div>
    <div class="input-items">
      <label for="date">日期* :</label>
      <input type="date" name="date" id="date" value="2023-04-03" class="input-item">
    </div>
    <div class="input-items">
      <label for="category">類別* :</label>
      <select name="category"  id="category" class="input-item">
        <option value="none" selected disabled hidden>Select</option>
        <option value="1" name="家居物業">家居物業</option>
        <option value="2" name="交通出行">交通出行</option>
        <option value="3" name="休閒娛樂">休閒娛樂</option>
        <option value="4" name="餐飲食品">餐飲食品</option>
        <option value="5" name="其他">其他</option>
      </select>
    </div>
    <div class="input-items">
      <label for="amount">金額* :</label>
      <input name="amount" id="amount" class="input-item"></select>
    </div>
    <div class="new-button-box">
      <button type="submit" class="new-button">新增支出</button>
    </div>
  </div>
</form>